<div id="footer" class="row">
  <div class="container">
    <div class="col-md-2 text-center">
      <h5>Group 1</h5>
      <ul class="list-group">
        <li><a href="#" class="text-muted">Link 1</a></li>
        <li><a href="#" class="text-muted">Link 2</a></li>
        <li><a href="#" class="text-muted">Link 3</a></li>
        <li><a href="#" class="text-muted">Link 4</a></li>
      </ul>
    </div>
    <div class="col-md-2 text-center">
      <h5>Group 2</h5>
      <ul class="list-group">
        <li><a href="#" class="text-muted">Link 1</a></li>
        <li><a href="#" class="text-muted">Link 2</a></li>
        <li><a href="#" class="text-muted">Link 3</a></li>
        <li><a href="#" class="text-muted">Link 4</a></li>
      </ul>
    </div>
    <div class="col-md-2 text-center">
      <h5>Group 3</h5>
      <ul class="list-group">
        <li><a href="#" class="text-muted">Link 1</a></li>
        <li><a href="#" class="text-muted">Link 2</a></li>
        <li><a href="#" class="text-muted">Link 3</a></li>
        <li><a href="#" class="text-muted">Link 4</a></li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <h4>Footer Header</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad temporibus, repellendus! Harum sequi eveniet error!</p>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="col-md-12 text-center">
      <img src="../../assets/img/pdao-icon/favicon.ico" alt="pdao logo">
      <br>
      <h4>Persons with Disability Affairs Office &copy; 2017</h4>
      <ul class="list-group list-lower">
        <li><a href="#" class="text-muted">Site Map</a></li>
        <li><a href="#" class="text-muted">About Us</a></li>
        <li><a href="#" class="text-muted">Terms and Conditions</a></li>
        <li><a href="#" class="text-muted">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>
<!--./footer-->