<div class="container">
  
  <div class="row">
    <div id="main-showcase" class="col-md-12">
      <div id="carousel-id" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-id" data-slide-to="1"></li>
          <li data-target="#carousel-id" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <a class="fancybox-carousel" href="../../assets/img/pdao-img/1.jpg" data-caption="National Disability Prevention and Rehabilitation Week" data-fancybox="carousel">
              <img src="../../assets/img/pdao-img/1.jpg" class="img-responsive">
            </a>
            <div class="container">
              <div class="carousel-caption">
                <h1>Lorem ipsum dolor.</h1>
                <p>Eos aspernatur explicabo illum, corrupti iste porro alias vel cum consequatur atque, ipsa, repellendus.</p>
                <button type="button" class="btn btn-primary btn-lg">Sign up today</button><br><br>
              </div>
            </div>
          </div>
          <div class="item">
            <a class="fancybox-carousel" href="../../assets/img/pdao-img/2.jpg" data-caption="Strategic Planning Workshop" data-fancybox="carousel">
              <img src="../../assets/img/pdao-img/2.jpg" class="img-responsive">
            </a>
            <div class="container">
              <div class="carousel-caption">
                <h1>Laboriosam, perferendis.</h1>
                <p>Hic soluta quaerat saepe non iure est, libero odit dignissimos quasi nisi assumenda perspiciatis deleniti.</p>
                <button type="button" class="btn btn-primary btn-lg">Learn more</button><br><br>
              </div>
            </div>
          </div>
          <div class="item">
            <a class="fancybox-carousel" href="../../assets/img/pdao-img/3.jpg" data-caption="Sign Language" data-fancybox="carousel">
              <img src="../../assets/img/pdao-img/3.jpg" class="img-responsive">
            </a>
            <div class="container">
              <div class="carousel-caption">
                <h1>Nemo nisi, nostrum?</h1>
                <p>Voluptas dolorum, qui itaque debitis possimus cupiditate deleniti nihil expedita a facilis porro hic animi?</p>
                <button type="button" class="btn btn-primary btn-lg">Browse gallery</button><br><br>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div><!--./main-showcase-->

  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <ul class="list-group">
        <li class="list-group-item">
          <a class="btn btn-lg btn-block btn-primary" data-toggle="collapse" data-parent="#accordion" href="#mission">Mission</a>
          <div id="mission" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ducimus! Accusantium expedita minima consequatur doloremque dolorum quo amet, fugit, cum facilis quam optio sed soluta ex laborum. Doloribus dignissimos, vitae.</p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <a class="btn btn-lg btn-block btn-primary" data-toggle="collapse" data-parent="#accordion" href="#vision">Vision</a>
          <div id="vision" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Nam molestias, quibusdam sunt eum, est distinctio aperiam delectus neque, in ratione accusantium illum debitis, maxime iusto voluptatem. Tenetur debitis sit earum harum voluptatibus dolorum deleniti repellendus dolor obcaecati repellat?</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--./mission&vision-->

    <div class="col-md-8 col-md-pull-4">
      <legend class="pull-left"><a routerLink="/forum">Forum</a>
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="#recent" data-toggle="tab" aria-expanded="true">Recent</a></li>
          <li><a href="#featured" data-toggle="tab" aria-expanded="false">Featured</a></li>
        </ul>
      </legend>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="recent">
          <div class="clearfix"></div>

          <ul class="list-group">
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">2</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Lorem ipsum dolor sit amet.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Medical Assistance</span>
                  <span class="label label-default">Medicine</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 8 mins ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">0</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Voluptatibus distinctio quaerat pariatur, sed.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Dental Mission</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 24 mins ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-1">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Fuga enim fugit dolore laudantium!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Health</span>
                  <span class="label label-default">Medicine</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">16</span> Views</p>
                <p class="text-success"><span class="badge badge-success">2</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Consectetur atque, distinctio et earum!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Surgery</span>
                  <span class="label label-default">Transplant</span>
                  <span class="label label-default">Donor</span>
                  <span class="label label-default">Organs</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">7</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Cum expedita aliquam debitis, culpa.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Psychiatry</span>
                  <span class="label label-default">Cognitive</span>
                  <span class="label label-default">Mental</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Commodi aut neque fuga cupiditate?</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Pulmonology</span>
                  <span class="label label-default">Chest Medicine</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-2">
              <div class="q-va pull-left">
                <p><span class="badge">5</span> Views</p>
                <p class="text-success"><span class="badge badge-success">3</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Placeat veniam, delectus suscipit! Ab!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Spinal Cord</span>
                  <span class="label label-default">Peripheral Nervous System</span>
                  <span class="label label-default">Neurology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">8</span> Views</p>
                <p class="text-success"><span class="badge badge-success">2</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Dolore quod ipsa quo nihil!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Opthalmology</span>
                  <span class="label label-default">Specialist</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Molestias excepturi, delectus eveniet id!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Blood Cells</span>
                  <span class="label label-default">Hematology</span>
                  <span class="label label-default">Platelets</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-3">
              <div class="q-va pull-left">
                <p><span class="badge">41</span> Views</p>
                <p class="text-success"><span class="badge badge-success">5</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Quam iste asperiores officia doloremque.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

        </div>
        <div class="tab-pane fade" id="featured">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus animi voluptatem ex rerum ad quod error, aliquid
            est voluptatibus repellat illo tempore, sapiente tenetur itaque beatae. Praesentium quisquam nesciunt voluptate?
            Neque inventore repellendus beatae laboriosam, molestias nemo veniam accusantium sequi quae illum iusto ad minima
            soluta, rem est culpa hic fugit doloremque consequatur! Explicabo quisquam est voluptatibus sed recusandae magni
            neque, blanditiis suscipit. Amet suscipit cupiditate ipsam, natus, eius nam adipisci unde consequatur doloremque
            reprehenderit! Rerum dignissimos pariatur, obcaecati suscipit temporibus rem laborum sapiente accusamus distinctio
            id provident sunt soluta illo natus hic cupiditate veritatis ipsa ullam accusantium est iste. Nihil repellat
            saepe, voluptatibus dolore reiciendis nesciunt non tempora minus deleniti, dicta quisquam porro corrupti error
            repellendus totam sit. Omnis illo hic rerum tempore excepturi.</p>
        </div>
      </div>

    </div>
    <!--./forum-->
  </div>

  <div class="row">
    <div class="col-md-12">
      <legend><a routerLink="happenings">Happenings</a></legend>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Temporibus, doloremque!</h3>
            </div>
            <div class="panel-body">
              <a class="fancybox-happenings thumbnail" href="https://lorempixel.com/580/250/abstract/" data-caption="Temporibus, doloremque!" data-fancybox="happenings">
                <img src="https://lorempixel.com/580/250/abstract/" class="img-responsive">
              </a>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic explicabo, iusto perspiciatis veritatis
                aliquam nulla molestiae repellendus rem culpa, provident reiciendis illum nobis quis, alias odio nihil, impedit
                possimus.</p>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-primary pull-right">Read more</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Eligendi, ullam.</h3>
            </div>
            <div class="panel-body">
              <a class="fancybox-happenings thumbnail" href="https://lorempixel.com/580/250/city/" data-caption="Eligendi, ullam." data-fancybox="happenings">
                <img src="https://lorempixel.com/580/250/city/" class="img-responsive">
              </a>
              <br>
              <p>Molestiae, vel reiciendis aperiam ex cumque ullam amet! Sequi ipsum, tempora ullam aspernatur, ea blanditiis
                nesciunt non sit veritatis earum, aliquid aliquam amet quidem pariatur, libero nisi. Adipisci, animi deleniti.</p>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-primary pull-right">Read more</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Totam, ipsam?</h3>
            </div>
            <div class="panel-body">
              <a class="fancybox-happenings thumbnail" href="https://lorempixel.com/580/250/people/" data-caption="Totam, ipsam?" data-fancybox="happenings">
                <img src="https://lorempixel.com/580/250/people/" class="img-responsive">
              </a>
              <br>
              <p>Eius laboriosam, sunt necessitatibus sequi nisi cupiditate dolorum itaque libero? Quos molestiae recusandae
                ut unde, cupiditate quod nulla ea aperiam exercitationem, laborum, perferendis in officia obcaecati omnis,
                earum optio aspernatur!</p>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-primary pull-right">Read more</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Accusantium, temporibus.</h3>
            </div>
            <div class="panel-body">
              <a class="fancybox-happenings thumbnail" href="https://lorempixel.com/580/250/transport/" data-caption="Accusantium, temporibus." data-fancybox="happenings">
                <img src="https://lorempixel.com/580/250/transport/" class="img-responsive">
              </a>
              <br>
              <p>Neque vitae explicabo dicta minima placeat cupiditate? Harum illo, vel temporibus unde, aliquam quo doloremque
                consequuntur dolorum facere nesciunt officiis dolor optio laborum earum deleniti amet sit quae sequi quis!</p>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-primary pull-right">Read more</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--./events&annoucements-->
</div>

<div id="android-showcase" class="row">
  <div class="container">
    <div class="img-showcase col-md-6 text-center">
      <img src="../assets/img/dev-img/phone.png" alt="phone-img" class="img-responsive">
    </div>
    <div class="img-info col-md-6 text-center">
      <h2>Keep updated with us!</h2>
      <p>The application designed specifically for you.</p><br>
      <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-save"></span> Download App</button>
    </div>
  </div>
</div>
<!--./android-showcase-->

<app-footer></app-footer>