/*main-showcase*/
#main-showcase{
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.item img{
  max-height: 600px;
  width: 100%;
}

.item img:hover{
  border: 2px solid #2196f3 !important;
}

/*forum*/
.nav-tabs>li>a{
  font-size: 0.7em;
}

.q-va{
  width: 24%;
  margin-right: .3em;
}

.q-va>p{
  font-size: 1.2em;
}

.q-main{
  width: 74%;
}

.badge-success{
  background-color: #4caf50;
}

/*Rush Design Spec*/
li.rush-1, li.rush-2, li.rush-3{
  background-color: #f5f5f5 !important;
  border-left-width: 3px !important;
  border-left-style: solid !important;
}

li.rush-1{
  border-left-color: #2196f3 !important;
}

li.rush-2{
  border-left-color: #ff9800 !important;
}

li.rush-3{
  border-left-color: #e51c23 !important;
}

/*events&announcements*/
.panel-body>img{
  margin: 0 auto;
}

/*android-showcase*/
#android-showcase{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
  background-color: #2196F3;
}

.img-info>h2, .img-info>p{
  color: #fff;
}

.img-showcase>img{
  margin: 0 auto;
}

@media (min-width:1024px) {
  .img-info{
    margin-top: 80px;
  }
  
  .img-info>h2, .img-info>p, .img-info>button{
    text-align: start;
    display: block;
  }
}

@media (min-width:1280px) {
  .img-info{
    margin-top: 120px;
  }
}
