<div class="container">
  <div class="row">
    <div class="col-md-8">
      <legend class="pull-left">Questions
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="#recent" data-toggle="tab" aria-expanded="true">Recent</a></li>
          <li><a href="#featured" data-toggle="tab" aria-expanded="false">Featured</a></li>
        </ul>
      </legend>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="recent">
          <div class="clearfix"></div>

          <ul class="list-group">
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">2</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Lorem ipsum dolor sit amet.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Medical Assistance</span>
                  <span class="label label-default">Medicine</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 8 mins ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">0</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Voluptatibus distinctio quaerat pariatur, sed.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Dental Mission</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 24 mins ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-1">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Fuga enim fugit dolore laudantium!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Health</span>
                  <span class="label label-default">Medicine</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">16</span> Views</p>
                <p class="text-success"><span class="badge badge-success">2</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Consectetur atque, distinctio et earum!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Surgery</span>
                  <span class="label label-default">Transplant</span>
                  <span class="label label-default">Donor</span>
                  <span class="label label-default">Organs</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">7</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Cum expedita aliquam debitis, culpa.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Psychiatry</span>
                  <span class="label label-default">Cognitive</span>
                  <span class="label label-default">Mental</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Commodi aut neque fuga cupiditate?</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Pulmonology</span>
                  <span class="label label-default">Chest Medicine</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-2">
              <div class="q-va pull-left">
                <p><span class="badge">5</span> Views</p>
                <p class="text-success"><span class="badge badge-success">3</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Placeat veniam, delectus suscipit! Ab!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Spinal Cord</span>
                  <span class="label label-default">Peripheral Nervous System</span>
                  <span class="label label-default">Neurology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">8</span> Views</p>
                <p class="text-success"><span class="badge badge-success">2</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Dolore quod ipsa quo nihil!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Opthalmology</span>
                  <span class="label label-default">Specialist</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Molestias excepturi, delectus eveniet id!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Blood Cells</span>
                  <span class="label label-default">Hematology</span>
                  <span class="label label-default">Platelets</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-3">
              <div class="q-va pull-left">
                <p><span class="badge">41</span> Views</p>
                <p class="text-success"><span class="badge badge-success">5</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Quam iste asperiores officia doloremque.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>

        <!--./ Added Questions -->
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">1</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Illo debitis a, voluptatem numquam.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-2">
              <div class="q-va pull-left">
                <p><span class="badge">0</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Sint architecto, odio similique corrupti?</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">4</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Ducimus beatae accusantium enim blanditiis!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">2</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Nesciunt deleniti natus incidunt dicta!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">3</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Hic veniam animi modi nisi!</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-2">
              <div class="q-va pull-left">
                <p><span class="badge">6</span> Views</p>
                <p class="text-success"><span class="badge badge-success">3</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Optio unde porro sit debitis.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-1">
              <div class="q-va pull-left">
                <p><span class="badge">1</span> Views</p>
                <p class="text-success"><span class="badge badge-success">5</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Ea, ab, obcaecati? Eos, vero?</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">3</span> Views</p>
                <p><span class="badge">0</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Officiis voluptatum, magni doloremque omnis.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="q-va pull-left">
                <p><span class="badge">1</span> Views</p>
                <p class="text-success"><span class="badge badge-success">1</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Odit, omnis ad ea at.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item rush-1">
              <div class="q-va pull-left">
                <p><span class="badge">3</span> Views</p>
                <p class="text-success"><span class="badge badge-success">2</span> Answer</p>
              </div>
              <div class="q-main pull-right">
                <h5><a href="#">Est quod qui, molestias architecto.</a></h5>
                <div class="tags pull-left">
                  <span class="label label-default">Skin</span>
                  <span class="label label-default">Pathogens</span>
                  <span class="label label-default">Dermatology</span>
                </div>
                <p class="pull-right">Asked by <a href="#">X</a> 1 hour ago.</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          
        </div>
        <div class="tab-pane fade" id="featured">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus animi voluptatem ex rerum ad quod error, aliquid
            est voluptatibus repellat illo tempore, sapiente tenetur itaque beatae. Praesentium quisquam nesciunt voluptate?
            Neque inventore repellendus beatae laboriosam, molestias nemo veniam accusantium sequi quae illum iusto ad minima
            soluta, rem est culpa hic fugit doloremque consequatur! Explicabo quisquam est voluptatibus sed recusandae magni
            neque, blanditiis suscipit. Amet suscipit cupiditate ipsam, natus, eius nam adipisci unde consequatur doloremque
            reprehenderit! Rerum dignissimos pariatur, obcaecati suscipit temporibus rem laborum sapiente accusamus distinctio
            id provident sunt soluta illo natus hic cupiditate veritatis ipsa ullam accusantium est iste. Nihil repellat saepe,
            voluptatibus dolore reiciendis nesciunt non tempora minus deleniti, dicta quisquam porro corrupti error repellendus
            totam sit. Omnis illo hic rerum tempore excepturi.</p>
        </div>
      </div>

      <ul class="pagination">
        <li class="disabled"><a>&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div><!--./app-forum-->
    <div class="col-md-4">
      <div class="list-group">
        <li class="list-group-item">
          <button type="button" class="btn btn-large btn-block btn-primary">Ask a question <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
        </li>
      </div>
      <div class="well well-lg warning">
        <legend class="warning">Lorem ipsum.</legend>
        <p><span class="glyphicon glyphicon-star-empty"></span> <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></p>
        <legend class="warning">Nobis, est.</legend>
        <p>21 <a href="#">Eligendi, obcaecati cumque commodi, vero necessitatibus rerum!</a></p>
        <p>42 <a href="#">Voluptate debitis iusto quibusdam deleniti molestias provident!</a></p>
      </div>
      <div class="list-group">
        <li class="list-group-item">
          <legend>Related Tags</legend>
          <a href="#"><span class="label label-primary">Lorem ipsum.</span></a>
          <a href="#"><span class="label label-primary">Eveniet, aspernatur?</span></a>
          <a href="#"><span class="label label-primary">Magnam, sint.</span></a>
          <a href="#"><span class="label label-primary">Perferendis, assumenda?</span></a>
          <a href="#"><span class="label label-primary">Sequi, soluta!</span></a>
          <a href="#"><span class="label label-primary">Animi, doloribus.</span></a>
          <a href="#"><span class="label label-primary">Ratione, alias.</span></a>
          <a href="#"><span class="label label-primary">Suscipit, tenetur.</span></a>
          <a href="#"><span class="label label-primary">Sed, ut.</span></a>
          <a href="#"><span class="label label-primary">Quis, recusandae.</span></a>
          <a href="#"><span class="label label-primary">Vitae, harum.</span></a>
          <a href="#"><span class="label label-primary">Velit, veniam.</span></a>
          <a href="#"><span class="label label-primary">Totam, facilis?</span></a>
          <a href="#"><span class="label label-primary">Voluptatum, porro.</span></a>
          <a href="#"><span class="label label-primary">Tenetur, repellendus?</span></a>
        </li>
      </div>
      <div class="list-group">
        <li class="list-group-item">
          <legend>Hot Questions</legend>
          <p>1. <a href="#">Lorem ipsum dolor sit amet.</a></p>
          <p>2. <a href="#">Velit dolorum eius fugit nisi!</a></p>
          <p>3. <a href="#">Natus molestiae accusamus nisi neque.</a></p>
          <p>4. <a href="#">Deserunt repellat nemo perferendis corporis!</a></p>
          <p>5. <a href="#">Reprehenderit numquam reiciendis, ullam dolorem.</a></p>
          <p>6. <a href="#">Eligendi reprehenderit ex, cumque porro?</a></p>
          <p>7. <a href="#">Quasi aspernatur voluptates omnis eligendi.</a></p>
          <p>8. <a href="#">Quaerat quasi sit voluptatem totam.</a></p>
          <p>9. <a href="#">Recusandae doloremque, accusantium vitae est.</a></p>
          <p>10. <a href="#">Laborum necessitatibus molestiae natus sunt!</a></p>
          <p>11. <a href="#">Iusto maiores obcaecati ullam numquam.</a></p>
          <p>12. <a href="#">Impedit quam, nam dolorem. At.</a></p>
          <p>13. <a href="#">Tempore enim debitis quam laborum.</a></p>
          <p>14. <a href="#">Veniam ipsam dicta est itaque.</a></p>
          <p>15. <a href="#">Quae iusto, nostrum saepe fuga?</a></p>
          <p>16. <a href="#">Voluptate, aut voluptatem veniam eveniet!</a></p>
          <p>17. <a href="#">Atque mollitia explicabo accusamus dignissimos.</a></p>
          <p>18. <a href="#">Repudiandae sunt reprehenderit cum laudantium!</a></p>
          <p>19. <a href="#">Repudiandae, magni. Iusto ipsa, a.</a></p>
          <p>20. <a href="#">Optio consequuntur quam, a ea.</a></p>
        </li>
      </div>
      
    </div>
  </div>
</div>
<app-footer></app-footer>