<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-events></app-events>
      <app-announcements></app-announcements>
    </div>
    <div class="col-md-4">

      <div class="well well-lg warning">
        <legend class="warning"><span class="glyphicon glyphicon-bell"></span> Possimus vel nostrum in!</legend>
        <p>1. <a href="#">Rem ipsam culpa enim consectetur.</a></p>
        <p>2. <a href="#">Dignissimos deleniti doloribus corporis!</a></p>
        <p>3. <a href="#">Iste totam fugiat praesentium explicabo.</a></p>
        <p>4. <a href="#">Tenetur quas illo reprehenderit voluptate.</a></p>
        <p>5. <a href="#">Non totam, placeat fugiat similique!</a></p>
      </div>

      <ul class="list-group">
        <li class="list-group-item primary">
          <legend class="primary"><span class="glyphicon glyphicon-flag"></span> <a href="#">Lorem ipsum dolor.</a></legend>
          <p>Odit, eos facilis adipisci. Error molestiae excepturi, tenetur autem sapiente.</p>
          <legend class="primary"><span class="glyphicon glyphicon-flag"></span> <a href="#">Nostrum adipisci, vitae!</a></legend>
          <p>Officiis necessitatibus nobis architecto quia aliquid fugiat corporis illo accusamus.</p>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<app-footer></app-footer>