<legend class="pull-left"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>  Announcements
  <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#latest" data-toggle="tab" aria-expanded="true">Latest</a></li>
  </ul>
</legend>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="latest">
    <div class="clearfix"></div>

    <ul class="list-group">
      <li class="list-group-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam exercitationem dicta incidunt deleniti veritatis, vel ipsum nostrum deserunt aspernatur laudantium praesentium, tenetur officia. Consequuntur facilis vero ad unde est! Fugit!</p>
      </li>
      <li class="list-group-item">
        <p>Dolorem ex fugit corrupti assumenda blanditiis aspernatur, molestias alias iure obcaecati similique consequatur nulla omnis cumque vitae minima? Cupiditate temporibus corporis maxime quam tenetur unde, sapiente natus necessitatibus repellat nisi?</p>
      </li>
      <li class="list-group-item">
        <p>Cum, temporibus amet tenetur dignissimos mollitia voluptate? Repellendus numquam id laborum officiis debitis cumque facere totam tempore voluptatem excepturi facilis suscipit quisquam porro nisi at provident, expedita maxime, quae voluptas.</p>
      </li>
      <li class="list-group-item">
        <p>Nobis voluptatem libero ipsum doloremque aspernatur vero eius, repellat optio ipsam maiores vel quas, provident eveniet. Deserunt cumque animi quae? Soluta ullam dolorum explicabo voluptatibus, itaque blanditiis maxime minima nobis!</p>
      </li>
      <li class="list-group-item">
        <p>Odio eum quo voluptas atque tempora, cum, repellat nostrum ducimus rem perferendis soluta quaerat eaque impedit aliquid ex hic maiores temporibus voluptatum natus, similique quisquam consectetur accusantium reprehenderit incidunt tenetur!</p>
      </li>
    </ul>

  </div>
</div><!--./latest-announcements-->

<ul class="pagination">
  <li class="disabled"><a>&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
