form{
  padding: 25px;
}

input::placeholder {
  color: #666666 !important;
}

.control-label{
  color: #0D47A1 !important;
}

p.text-center{
  margin: 0 !important;
}

@media(max-width:767px){
  #btnSignup{
    display: block;
    width: 100%;
  }
}